#select-box-background {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
    display: none;
    z-index: 20;
}
#select-box {
    position: fixed;
    left: 50%;
    top: 10%;
    width: 300px;
    transform: translate(-50%, 0);
    background-color: white;
    display: none;
    z-index: 30;
    padding: 10px 0;
    max-height: 70%;
    min-height: 250px;
    overflow:auto;
}

#select-box #title {
    position: relative;
    top: 20px;
    height: 30px;
}
#select-box  .title {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(0, -50%);
    color: white;
    font-size: 1.2em;
    font-weight: bold;
}
#select-box .close {
    position: absolute;    
    top: 50%;
    right: 5%;
    transform: translate(0, -50%);
    color: white;
    width: 20px;
}

#select-box #body {
    position: relative;
    top: 40px;
    left: 5%;
    width: 90%;
}
.select-option {
    cursor: pointer;
    margin-left: 5%;
    margin-top: 10px;
}
.select-wrapper {
    width: 80%;
    cursor: pointer;
    padding: 5px 10px;
    margin-top: 10px;
    position: relative;
    height: 20px;
    border: 1px solid #ddd;

}
.select-wrapper .left {
    width: 95%;
    padding-left: 5%;
    position: absolute;
    left: 0;
}
.select-wrapper .right {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #ddd;
    z-index: 10;
    transform: rotate(90deg);
}
.clear {
    clear: both;
}
#search-box {
    display: none;
    position: relative;
    top: 30px;
    left: 5%;
    width: 88%;
}
#search-box #search-input {
    width: 100%;
}
